* {
  font-family: "Lobster", cursive;
  text-align: center;
}
body {
  margin: 0;
}
ul li {
  margin: 0.25% auto;
  text-align: justify;
  padding: 0% 35%;
}

.profile {
  opacity: 90%;
  margin: 0;
  padding: 5%;
  position: relative;
  border-top: 5px solid rgb(228, 78, 135);
  background-image: url(../imgs/profile_background.jpg);
  background-color: rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-size: cover;
}
.profile h1,
.profile img,
.profile h2 {
  opacity: 100%;
  color: white;
  margin: 1% auto;
  padding: 5% auto;
}
.profile h1 {
  font-size: 500%;
  font-weight: bold;
  text-transform: uppercase;
}
.profile img {
  width: 175px;
  border-radius: 100%;
  border: 8px solid whitesmoke;
}
.profile h2 {
  font-size: 300%;
}

.description {
  margin: 0;
  padding: 2%;
}
.description h2,
.description p {
  padding: 2% auto;
}
.description h2 {
  font-size: 350%;
}
.description p {
  font-size: 200%;
}
.description p a {
  color: rgba(64, 186, 186, 0.857);
  text-decoration: underline;
}
.description p a:hover {
  color: rgba(32, 109, 109, 0.857);
  background-color: rgb(238, 238, 238);
  box-shadow: rgba(112, 110, 110, 0.405);
  text-shadow: whitesmoke;
  text-decoration: none;
}

.skills {
  margin: 0;
  color: white;
  padding: 2%;
  background: rgb(228, 78, 135);
}
.skills h2,
.skills_list {
  font-size: 300%;
}
.skills_list {
  font-size: 150%;
  text-align: left;
}
.skills_list p {
  font-size: 180%;
}

.media {
  margin: 0;
  padding: 1%;
}
.media h2 {
  font-size: 300%;
}

.logo {
  position: relative;
  display: inline-block;
}

.logo img {
  width: 60px;
  height: auto;
  margin: 2% 50px;
  border: 5px solid rgb(233, 233, 233);
  border-radius: 100%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2), 3px 3px 0 rgba(0, 0, 0, 0.19);
}
